body {
  font-size: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
}

html {
  text-align: center;
  font-size: 20px;font-size
}

.sky-blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

#basic, h2 {
  font-weight: bold;
}

#soccer:nth-of-type(2){
  color: rgb(97, 206, 249);
  font-weight: bold;
}

